Repository MagdaBer/vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, styleliint --fix, prettier --write

Add git hooks via husky
  .husky/pre-commit
  .husky/pre-push
Due: none

🚑 Fix typo in lintstagedrc
  .lintstagedrc.json
Due: prettier --write

🚚 Move App to app folder
  src/app/main.ts
  src/app/style.css
  src/vite-env.d.ts
  tsconfig.json
Due: eslint --fix --cache, styleliint --fix, prettier --write

🔧 Add server tsconfig
  tsconfig.server.json
Due: prettier --write

🔧 Install @types/node and add to config
  .eslintrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

🔧 Install ts-node-dev and setup scripts
  package-lock.json
  package.json
  src/server.ts
Due: eslint --fix --cache, prettier --write

🔧 Update outDir of vite
  vite.config.js
Due: eslint --fix --cache, prettier --write

🐛 Fix import of script in index.html
  index.html
Due: prettier --write

🔨 Update server: dev and add start script
  package.json
  src/server.ts
Due: eslint --fix --cache, prettier --write

➕ Install express
  package-lock.json
  package.json
Due: prettier --write

✨ Create basic express server
  src/server.ts
Due: eslint --fix --cache, prettier --write

➕ Add dotenv
  package-lock.json
  package.json
Due: prettier --write

🙈 Ignore .env file
  .gitignore
Due: none

✨ Load port from .env
  src/server.ts
Due: eslint --fix --cache, prettier --write

➕ Insall react and react-dom with vitejs refresh
  package-lock.json
  package.json
Due: prettier --write

🔧 Fast refresh for react in vite
  vite.config.js
Due: eslint --fix --cache, prettier --write

🔧 Update tsconfig for react
  tsconfig.json
Due: prettier --write

✨ Install React
  index.html
  src/app/App.module.css
  src/app/App.tsx
  src/app/globals.css
  src/app/logo.svg
  src/app/main.ts
  src/app/main.tsx
  src/app/style.css
Due: eslint --fix --cache, styleliint --fix, prettier --write

🔧 Fix typo
  vite.config.js
Due: eslint --fix --cache, prettier --write

✨ Install storybook and create example button
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/app/Button/Button.module.css
  src/app/Button/Button.stories.tsx
  src/app/Button/Button.tsx
Due: eslint --fix --cache, styleliint --fix, prettier --write

✨ Change port and serve storyb. and the app in prod.
  src/server.ts
Due: eslint --fix --cache, prettier --write

🔧 Set relative base path to support deployment
  .storybook/main.js
Due: eslint --fix --cache, prettier --write

🔧 Load globals in storybook
  .storybook/preview.js
Due: eslint --fix --cache, prettier --write

✨ Install concurrently
  package-lock.json
  package.json
Due: prettier --write

✨ Add proxy to server
  vite.config.js
Due: eslint --fix --cache, prettier --write

✨ add api middeleware
  src/server.ts
Due: eslint --fix --cache, prettier --write

➕ Install react-router-dom and types
  package-lock.json
  package.json
Due: prettier --write

✨ Add basic routing functionality
  src/app/App.tsx
Due: none

🔧 Add MemoryRouter to every story
  .storybook/preview.tsx
Due: none

🔧 Add eslint rule to enforce consistent type imports
  .eslintrc.json
  src/app/Button/Button.tsx
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts}
  styleliint --fix: any of: *.css
  prettier --write: any of: *.{js,ts,css,html,json,md}
